# Amazon Rekognition
AWS_REKOGNITION_ACCESS_KEY=********
AWS_REKOGNITION_SECRET_KEY=********

# Amazon SES
AWS_SES_ACCESS_KEY=********
AWS_SES_SECRET_KEY=********
AWS_SES_REGION=ap-northeast-1
AWS_SES_CONFIGURATION=********
# IAM role ARN for cross-account SES access via AssumeRole
AWS_SES_ROLE_ARN=********
AWS_SES_FROM=from@example.com
AWS_SES_TO=to@example.com

# REST Client
REST_CLIENT_TEST_URL=http://57.181.114.90/api/users
